<div class="form" id="popup">
    <div class="form__content" id="popup">
        <div class="heading">
            <div class="heading__content">
                Регистрация
            </div>
            <div class="form-close"><a href="#">X</a></div>
        </div>

        <div class="e-mail">
            <div class="e-mail__content">
                E-mail
            </div>
            <br>
            <input type="text">
        </div>
        <div class="nickname">
            <div class="nickname__content">
                Никнейм
            </div>
            <br>
            <input type="text">
        </div>

        <div class="password">
            <div class="password__content">
                Пароль
            </div>
            <br>
            <input type="password">
        </div>

        <div class="repeat__password">
            <div class="repeat__password__content">
                Еще раз пароль...
            </div>
            <br>
            <input type="password">
        </div>


        <div class="button__registration">
            <div class="registration">
                <a href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>